#root {
    margin: auto;
    width: 90%;
    border: 2px solid;
    border-radius: 18px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  .search-field {
    border-radius: 18px;
    padding: 10px;
    border: 2px solid rgb(209, 209, 209);
    width: 400px;
    height: 10px;
    margin-bottom: 10px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  
  .table > tbody > tr:nth-child(odd) {
    background-color: rgb(224, 224, 224);
  }
}